<%- include('auth_header'); -%>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Dökümanlar</h1>
      <h3><%=document%></h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quaerat voluptates nam ducimus accusamus
        quasi quos corporis fugiat numquam laborum!</p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
        <%=document%> Önizleme
    </div>
    <div class="card-body">
    <div class="pdf">
      <%-pdfString%>
    </div>
      
    </div>
    <div class="card-footer text-muted">
    <span style="float: right;">

       
     <%-buttonString %>


    </span>
    </div>
  </div>
<p><div></div></p>
</div>

<%- include('footer'); -%>